<!DOCTYPE html>
	<html>
		<head>
			<title>Kyle Peyton: {{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	      	        	<li><a href="/research">Research</a></li>
            			<li><a href="/teaching">Teaching</a></li>
	              		<li><a href="https://github.com/kylepeyton/kylepeyton.github.io/blob/master/assets/peyton_cv.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kyle.peyton@yale.edu">email</a></li>
        		<li><a href="https://github.com/kylepeyton">github.com/kylepeyton</a></li>
				</ul>
			</footer>
		</body>
	</html>
