<!DOCTYPE html>
	<html>
		<head>
			<title> {{ page.title }}</title>
			<link rel="icon"  type="image/png"    href="https://kylepeyton.github.io/assets/cropic.jpg">
			<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kyle.peyton@yale.edu">Email</a></li><ul>
				{% if site.twitter_username %}
				<li>
					<a href="https://twitter.com/{{ site.twitter_username }}">
						<i class="fa fa-twitter"></i> Twitter
					</a>
				</li>
				{% endif %}
				{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}">
						<i class="fa fa-github"></i> GitHub
					</a>
				</li>
				{% endif %}
				{% if site.linkedin_username %}
				<li>
					<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
						<i class="fa fa-linkedin"></i> LinkedIn
					</a>
				</li>
				{% endif %}
			</ul>
			</footer>
			
			{% include analytics.html %}
		</body>
	</html>
