<!DOCTYPE html>
	<html>
		<head>
			<title>Kyle Peyton: {{ page.title }}</title>
			<link rel="icon"  type="image/png"    href="https://kylepeyton.github.io/assets/cropic.jpg">
			<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kyle.peyton@yale.edu">email</a></li>
	        		<li><a href="https://github.com/kylepeyton">github.com/kylepeyton</a></li>
				</ul>
			</footer>
			
			{% include analytics.html %}
		</body>
	</html>
