<!DOCTYPE html>
	<html>
		<head>
			<script src="https://use.fontawesome.com/1891fd57b1.js"></script>
			<link rel="stylesheet" href="https://kylepeyton.github.io/css/academicons.css"/>
			<title> {{ page.title }}</title>
			<link rel="icon"  type="image/png"    href="https://kylepeyton.github.io/assets/cropic.jpg">
			<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<nav>
	               	<ul>
				<li><a href="/">Home</a></li>
                          	<li><a href="/research">Research</a></li>
                          	<li><a href="/teaching">Teaching</a></li>
                          	<li><a href="https://github.com/kylepeyton/kylepeyton.github.io/blob/master/assets/peyton_cv.pdf">CV</a></li>
        			<!-- <li><a href="/contact">Contact</a></li> -->
	              </ul>
	              </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				{% if site.twitter_username %}
				<li>
					<a href="https://twitter.com/{{ site.twitter_username }}" alt = "Link to Twitter" data-toggle="tooltip" title = "Twitter">
						<i class="fa fa-twitter fa-3x"></i> 
					</a>
				</li>
				{% endif %}
				{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}" alt = "Link to Github" data-toggle="tooltip" title="GitHub">
						<i class="fa fa-github fa-3x"></i>
					</a>
				</li>
				{% endif %}
				{% if site.linkedin_username %}
				<li>
					<a href="https://linkedin.com/in/{{ site.linkedin_username }}" alt = "Link to LinkedIn" data-toggle="tooltip" title = "LinkedIn">
						<i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
					</a>
				</li>
				{% endif %}
				<li>
					<a href="https://scholar.google.com/citations?user=Hccq-KMAAAAJ&hl=en" alt="Link to Google Scholar" data-toggle="tooltip" title="Google Scholar">
						<i class="ai ai-google-scholar ai-3x"></i>
					</a>
				</li>
				<li>
					<a href="https://dataverse.harvard.edu/dataverse.xhtml?alias=kpeyton" alt="Link to Dataverse" data-toggle="tooltip" title="Dataverse">
						<i class="ai ai-dataverse ai-3x"></i>
					</a>
				</li>
			</ul>
			</footer>
			
			{% include analytics.html %}
		</body>
	</html>
